aiml==0.8.6
aniso8601==8.0.0
appdirs==1.4.4
attrs==19.3.0
beautifulsoup4==4.8.0
blis==0.4.1
bs4==0.0.1
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
cymem==2.0.3
Cython==0.29.16
distlib==0.3.0
fake-useragent==0.1.11
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JSON==0.3.4
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.1
future==0.18.2
fuzzywuzzy==0.18.0
googletrans==2.4.0
gunicorn==20.0.4
html-table-extractor==1.4.0
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
langid==1.1.6
lxml==4.4.1
MarkupSafe==1.1.1
mathparse==0.1.2
multidict==4.7.5
murmurhash==1.0.2
numpy==1.18.2
pandas==1.0.3
Pillow==7.1.2
Pint==0.11
plac==1.1.3
preshed==3.0.2
psycopg2-binary==2.8.5
pymongo==3.10.1
pyrsistent==0.16.0
pytesseract==0.3.4
python-dateutil==2.7.5
python-Levenshtein-wheels==0.13.1
pytz==2019.3
regex==2020.4.4
requests==2.22.0
schedule==0.6.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
soupsieve==2.0
spacy==2.2.2
SQLAlchemy==1.3.16
srsly==1.0.2
thinc==7.3.1
tqdm==4.45.0
Unidecode==1.1.1
urllib3==1.25.9
vcrpy==4.0.2
virtualenv==20.0.21
virtualenvwrapper-win==1.2.6
wasabi==0.6.0
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.4.2
